/* Styles globaux */
body {
  font-family: 'Lexend', cursive;  /* Utilise la police 'Lexend' pour le texte */
  background-color: #ff6624;  /* Couleur de fond orange */
  margin: 0;  /* Supprime la marge par défaut du corps */
  display: flex;  /* Utilise le modèle de boîte flexible */
  flex-direction: column;  /* Les éléments enfants sont alignés en colonne */
  min-height: 100vh;  /* Hauteur minimale de la vue du navigateur */
}

.container {
  width: 80%;  /* Largeur de la boîte de contenu à 80% de la largeur parente */
  margin: auto;  /* Centre la boîte de contenu horizontalement */
}

/* Styles de l'en-tête */
header {
  background-color: #933600;  /* Couleur de fond brun foncé */
  padding: 5px;  /* Espace intérieur de 5 pixels */
}

/* Styles de navigation */
nav {
  display: flex;  /* Utilise le modèle de boîte flexible pour la navigation */
  justify-content: space-between;  /* Espace équitable entre les éléments enfants */
  align-items: center;  /* Centre les éléments enfants verticalement */
}

nav li {
  list-style: none;  /* Supprime les puces de la liste pour les éléments de navigation */
  margin-right: 20px;  /* Marge à droite pour les éléments de navigation */
}

nav a {
  text-decoration: none;  /* Supprime la décoration de lien par défaut */
  color: #fff;  /* Couleur du texte blanc */
  font-weight: bold;  /* Texte en gras */
  font-size: 20px;  /* Taille de police de 20 pixels */
  transition: color 0.3s ease;  /* Effet de transition pour la couleur du texte */
}

nav a:hover {
  color: #ffe394;  /* Changement de couleur au survol */
}

nav img {
  max-width: 100%;  /* Largeur maximale de l'image à 100% */
  height: auto;  /* Hauteur automatique pour maintenir les proportions */
  border-radius: 100px;  /* Bordure arrondie pour les images */
}

/* Styles du contenu principal */
main {
  display: flex;  /* Utilise le modèle de boîte flexible pour le contenu principal */
  justify-content: center;  /* Centre les éléments enfants horizontalement */
  align-items: center;  /* Centre les éléments enfants verticalement */
  height: 100vh;   /* Hauteur de la vue du navigateur pour le contenu principal */
}

/* Styles de la boîte */
.box {
  background-color: #b33600;  /* Couleur de fond brun clair */
  display: flex;  /* Utilise le modèle de boîte flexible pour la boîte */
  justify-content: center;  /* Centre les éléments enfants horizontalement */
  align-items: center;  /* Centre les éléments enfants verticalement */
  flex-direction: column;  /* Les éléments enfants sont alignés en colonne */
  color: #fff;  /* Couleur du texte blanc */
  margin: 20px;  /* Marge extérieure de 20 pixels */
  border-radius: 10px;  /* Bordure arrondie */
  width: 80%;   /* Largeur de la boîte à 80% de la largeur parente */
}

/* Styles d'image */
img {
  max-width: 100%;  /* Largeur maximale de l'image à 100% */
  height: 150px;  /* Hauteur fixe de l'image à 150 pixels */
  width: 200px;  /* Largeur fixe de l'image à 200 pixels */
  border-radius: 5px;  /* Bordure arrondie de l'image */
  object-fit: cover;  /* Ajuste l'image tout en conservant les proportions */
}

/* Styles spécifiques de la boîte */
.article-box {
  background-color: #fff;  /* Couleur de fond blanc */
  margin-bottom: 20px;  /* Marge inférieure de 20 pixels */
  padding: 20px;  /* Espace intérieur de 20 pixels */
  border-radius: 8px;  /* Bordure arrondie */
  text-decoration: none;  /* Supprime la décoration de lien par défaut */
  color: black;  /* Couleur du texte noir */
  text-align: center;  /* Centre le texte horizontalement */
}

.large-image {
  width: 100%;  /* Largeur de l'image à 100% de la largeur parente */
  max-width: 250px;  /* Largeur maximale de l'image à 250 pixels */
  height: auto;  /* Hauteur automatique pour maintenir les proportions */
  border-radius: 5px;  /* Bordure arrondie de l'image */
  object-fit: cover;  /* Ajuste l'image tout en conservant les proportions */
}

#commanderButton {
  background-color: #fb0000;  /* Couleur de fond rouge foncé */
  color: #fff;  /* Couleur du texte blanc */
  padding: 10px 20px;  /* Espacement intérieur de 10 pixels en haut/bas, 20 pixels à gauche/droite */
  font-size: 16px;  /* Taille de police de 16 pixels */
  border: none;  /* Supprime la bordure par défaut du bouton */
  border-radius: 5px;  /* Bordure arrondie */
  cursor: pointer;  /* Curseur de pointeur au survol du bouton */
  transition: background-color 0.3s ease;  /* Effet de transition pour la couleur de fond */
  align-items: center;  /* Centre les éléments verticalement */
  width: 975px;  /* Largeur fixe du bouton à 975 pixels */
  height: auto;  /* Hauteur automatique pour maintenir les proportions */
}

#commanderButton:hover {
  background-color: #ffbf00;  /* Changement de couleur de fond au survol */
}

/* Styles du pied de page */
footer {
  background-color: #933600;  /* Couleur de fond brun foncé */
  color: #ffe394;  /* Couleur du texte jaune clair */
  padding: 20px 0;  /* Espace intérieur de 20 pixels en haut/bas */
}

.footer-content {
  display: flex;  /* Utilise le modèle de boîte flexible pour le contenu du pied de page */
  justify-content: space-around;  /* Espace équitable entre les éléments enfants */
}

.footer-section {
  text-align: center;  /* Centre le texte horizontalement */
}

.footer-section h3 {
  border-bottom: 2px solid #fff;  /* Bordure inférieure de 2 pixels solide avec couleur blanche */
  padding-bottom: 10px;  /* Espace intérieur en bas de 10 pixels */
}

.footer-bottom {
  text-align: center;  /* Centre le texte horizontalement */
  margin-top: 20px;  /* Marge supérieure de 20 pixels */
}

.article-description {
  margin-top: 10px;  /* Marge supérieure de 10 pixels */
  font-size: 16px;  /* Taille de police de 16 pixels */
}
