/* Styles globaux */
body {
  font-family: 'Lexend', cursive;  /* Utilise la police 'Lexend' pour le texte */
  background-color: #ff6624;  /* Couleur de fond orange */
}

/* Styles de l'en-tête */
header {
  background-color: #933600;  /* Couleur de fond brun foncé */
  padding: 5px;  /* Espace intérieur de 5 pixels */
}

/* Styles de navigation */
nav {
  display: flex;  /* Utilise le modèle de boîte flexible pour la navigation */
  justify-content: space-between;  /* Espace équitable entre les éléments enfants */
  align-items: center;  /* Centre les éléments enfants verticalement */
}

nav li {
  list-style: none;  /* Supprime les puces de la liste pour les éléments de navigation */
  margin-right: 20px;  /* Marge à droite pour les éléments de navigation */
}

nav a {
  text-decoration: none;  /* Supprime la décoration de lien par défaut */
  color: #fff;  /* Couleur du texte blanc */
  font-weight: bold;  /* Texte en gras */
  font-size: 20px;  /* Taille de police de 20 pixels */
  transition: color 0.3s ease;  /* Effet de transition pour la couleur du texte */
}

nav a:hover {
  color: #ffe394;  /* Changement de couleur au survol */
}

nav img {
  max-width: 100%;  /* Largeur maximale de l'image à 100% */
  height:auto;  /* Hauteur automatique pour maintenir les proportions */
  border-radius: 100px;  /* Bordure arrondie pour les images */
}

/* Styles du contenu principal */
main {
  display:flex;  /* Utilise le modèle de boîte flexible pour le contenu principal */
  flex-direction: column;  /* Les éléments enfants sont alignés en colonne */
}

/* Styles de la boîte principale */
.box {
  background-color: #b33600;  /* Couleur de fond brun clair */
  height: 100%;  /* Ajuste la hauteur à 100% de la hauteur parente */
  display: flex;  /* Utilise le modèle de boîte flexible pour la boîte */
  justify-content: center;  /* Centre les éléments enfants horizontalement */
  align-items: center;  /* Centre les éléments enfants verticalement */
  flex-direction: column;  /* Les éléments enfants sont alignés en colonne */
  color: #fff;  /* Couleur du texte blanc */
  margin: 20px;  /* Marge extérieure de 20 pixels */
  border-radius: 10px;  /* Bordure arrondie */
}

/* Styles de la section dans les boîtes */
.section {
  display: flex;  /* Utilise le modèle de boîte flexible pour la section */
  flex-direction: row;  /* Les éléments enfants sont alignés en ligne */
  align-items: center;  /* Centre les éléments enfants verticalement */
  padding: 20px;  /* Espace intérieur de 20 pixels */
  text-align: center;  /* Centre le texte horizontalement */
}

/* Styles des images */
img {
  max-width: 100%;  /* Largeur maximale de l'image à 100% */
  height: 150px;  /* Hauteur fixe de l'image à 150 pixels */
  width: 200px;  /* Largeur fixe de l'image à 200 pixels */
  border-radius: 5px;  /* Bordure arrondie de l'image */
  object-fit: cover;  /* Ajuste l'image tout en conservant les proportions */
}

/* Styles des boîtes spécifiques */
.article-box {
  background-color: #fff;  /* Couleur de fond blanc */
  margin-bottom: 20px;  /* Marge inférieure de 20 pixels */
  padding: 20px;  /* Espace intérieur de 20 pixels */
  border-radius: 8px;  /* Bordure arrondie */
  display: flex;  /* Utilise le modèle de boîte flexible pour la boîte */
  flex-direction: row;  /* Les éléments enfants sont alignés en ligne */
  text-decoration: none;  /* Supprime la décoration de lien par défaut */
  align-items: center;  /* Centre les éléments enfants verticalement */
  justify-content: space-between;  /* Espace équitable entre les éléments enfants */
  color: black;  /* Couleur du texte noir */
}

.article-box a {
  text-decoration: none;  /* Supprime la décoration de lien pour les liens internes à .article-box */
  color: inherit;  /* Utilise la couleur du texte du parent (.article-box) */
}

.article-box a:hover {
  color: #933600;  /* Changement de couleur au survol */
}

/* Styles du pied de page */
footer {
  background-color: #933600;  /* Couleur de fond brun foncé */
  color: #ffe394;  /* Couleur du texte jaune clair */
  padding: 20px 0;  /* Espace intérieur de 20 pixels en haut/bas */
}

.footer-content {
  display: flex;  /* Utilise le modèle de boîte flexible pour le contenu du pied de page */
  justify-content: space-around;  /* Espace équitable entre les éléments enfants */
}

.footer-section {
  text-align: center;  /* Centre le texte horizontalement */
}

.footer-section h3 {
  border-bottom: 2px solid #fff;  /* Bordure inférieure de 2 pixels solide avec couleur blanche */
  padding-bottom: 10px;  /* Espace intérieur en bas de 10 pixels */
}

.footer-bottom {
  text-align: center;  /* Centre le texte horizontalement */
  margin-top: 20px;  /* Marge supérieure de 20 pixels */
}

/* Styles spécifiques de la boîte dans le pied de page */
.article-box {
  float: left;  /* Flotte à gauche pour créer une disposition en grille */
  width: 33.33%;  /* Largeur de chaque boîte à 33.33% de la largeur parente */
  margin-right: 20px;  /* Marge à droite pour les boîtes */
  margin-bottom: 20px;  /* Marge en bas pour les boîtes */
}

.article-box:last-child {
  margin-right: 0;  /* Supprime la marge à droite de la dernière boîte */
}

